@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Old+Standard+TT&display=swap');

$black: #272727;
$yellow: #FED766;
$blue: #009FB7;
$gray: #696773;
$white: #EFF1F3;

$header-font: 'Bebas Neue';
$text-font: 'Old Standard TT';
